<div class="container-auth">
  <div class="title">
    <p> Log In </p>
  </div>

  {{#if errorMessage}}
    <div class="error-message">

      <p>
        {{errorMessage}}
      </p>
    </div>
  {{/if}}

  <form class="form-auth" action="/auth/login" method="post">

    <div class="column">
      <label>
        Email
      </label>
      <input
        class="email"
        type="email"
        name="email"
        placeholder="eventmaster@eventmaster.com"
      />
    </div>

    <div class="column">
      <label>Contraseña</label>
      <input class="pass" type="password" name="password" placeholder="****" />
    </div>

    <div>
      <button id="login" class="btn-auth">
        <p>Entrar</p>
      </button>
    </div>
  </form>

  <div class="redirect">
    <p>
      Aún no tienes una cuenta?
      <a href="/auth/signup">
        Regístrate
      </a>
    </p>
  </div>

</div>