
<div class="container">
<h2> Registrarte </h2>

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<form class="login-signup" action="/auth/signup" method="post">
   
    <div>
        
        <input class="nombre" type="text" name="name" id="name-input" placeholder="NOMBRE">
    </div>

    <div>
        
        <input class="correo" type="email" name="email" id="email-input" placeholder="CORREO">
    </div>

    <div>
        
        <input class="contraseña" type="password" name="password" id="password-input" placeholder="CONTRASEÑA">
    </div>

    <button class="primary"> <h3>Crear una nueva cuenta</h3> </button>

</form>

<p>
    Ya tienes una cuenta?
    <a href="/auth/login">
        Iniciar sesión.
    </a>
</p>
</div>