<div class="container-auth">
  <div class="title">
    <p> Sign Up </p>
  </div>

  {{#if errorMessage}}
    <div class="error-message">
      <p>
        {{errorMessage}}
      </p>
    </div>
  {{/if}}

  <form class="form-auth" action="/auth/signup" method="post">
    <div class="column">
      <label> Nombre</label>
      <input class="name" type="text" name="name" placeholder="Master" />
    </div>

    <div class="column">
      <label>Email</label>
      <input
        class="email"
        type="email"
        name="email"
        placeholder="eventmaster@eventmaster.com"
      />
    </div>

    <div class="column">
      <label>Contraseña</label>
      <input class="pass" type="password" name="password" placeholder="****" />
    </div>

    <div>
      <button id="signup" class="btn-auth">
        <p>Crear una nueva cuenta</p>
      </button>
    </div>
  </form>

  <div class="redirect">
    <p>
      Ya tienes una cuenta?
      <a href="/auth/login">
        Iniciar sesión.
      </a>
    </p>
  </div>
</div>